.form{
	width: 400px;
	margin: 0 auto;
}
.form .r{
	padding: 10px 0 0;
}
.form .r label{
	display: block;
}

.errMsg{
	display: none;
	color: #f00;
	font: 13px/15px Arial, sans-serif;
	padding: 2px 0 0;
}
.form .error input, .form .error textarea{
	border-color: #f00;
}
.form .error .errMsg{display: block;}

input[type=text]{
	width: 100%;
	padding: 5px 10px;
}
input[type=submit]{
	float: right;
}
textarea{
	width: 100%;
	height: 100px;
	padding: 5px 10px;
}

.captcha{
	position: fixed;
	top: 0;
	display: none;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.2);
}
.captcha .b{
	width: 280px;
	height: 200px;
	background: #fff;
	border: 1px solid #ccc;
	position: absolute;
	padding: 0 10px;
	left: 50%;
	top: 20%;
	margin-left: -150px;
	z-index: 2;
	-webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
	text-align: center;
}
.captcha .c{
	padding: 10px;
}
.captcha input[type=text]{
	width: 200px;
}
.captcha button{
	padding: 10px 20px;
	margin-top: 20px;
}
.captcha img{cursor: pointer;}
.captcha.show{display: block;}
.captcha .error input[type=text] {
	border-color: #f00;
}
.captcha .error .errMsg{
	display: block;
}
#popup2{
	position: fixed;
	left: 0;
	top: 0;
	padding: 20px;
	background: #2aab0e;
	font: 20px/22px Arial, sans-serif;
	color: #fff;
	display: none;
}
#popup2.error{
	background: #f00;
}